html {
    padding: 0;
}
body{
    font-family: "Cabin", sans-serif; 
    font-weight: 700;
    background: gray;
}
table{
    background-color: #70a7fb9a;
    border-radius: 15px;

    margin: 20px;
    text-align: center;
    align-items: center;
}
img{
    padding: 25px;
}